<%- include('../adminLayouts/header.ejs') %>
<%- include('../adminLayouts/navbar.ejs') %>

<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div style="display: flex; justify-content: space-between;">
                    <h6 class="mb-4">Order Table</h6>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">No</th>
                              <th scope="col">User Name</th>
                              <th scope="col">order Id</th>
                              <th scope="col">Date</th>
                              <th scope="col">Total Price</th>
                              <th scope="col">Payment Methode</th>
                              <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(order.length > 0){
                                order.forEach((order,i)=>{
                                    %>
                            <tr>
                            <td><%=i+1%></td>
                            <td><%=order.userName%></td>
                            <td><%=order._id%></td>
                            <td><%=order.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-') %></td>
                            <td><%=order.totalAmount%></td>
                            <td><%=order.paymentMethod%></td>
                            <td>
                                <a href="/admin/singleOrderList/<%= order._id %>"><button type="button" class="btn btn-success btn-sm">Details</button></a>
                            </td>
                            </tr>
                            <%})
                           }%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>   

<%- include('../adminLayouts/footer.ejs') %>
