<%- include('../adminLayouts/header.ejs') %>
<%- include('../adminLayouts/navbar.ejs') %>

<!-- Widget Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center  py-3">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-4">Order Details</h6>
                        </div>
                        <ul style="list-style: none;padding-left: 0px !important;">
                            <li class="pb-3">User Name :  <%=order.userName%> </li>
                            <li class="pb-3">Total Amount :   <%=order.totalAmount%></li>
                            <li class="pb-3">payment Method :   <%=order.paymentMethod%></li>
                            <li class="pb-3">Order Id :   <%=order._id%></li>
                            <li class="pb-3">Address :   <%=order.deliveryAddress%></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>              
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">No</th>
                              <th scope="col">Image</th>
                              <th scope="col">product Name</th>
                              <th scope="col">product Brand</th>
                              <th scope="col">Price</th>
                              <th scope="col">Status</th>
                              <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(order.products.length > 0){
                                order.products.forEach((order,i)=>{ 
                                  %>
                              <tr>
                                <td><%= i + 1 %></td>
                                <td class="py-1">
                                
                                    <img style="width: 45px; height: 45px;" src="/adminAssets/adminImages/<%= order.productId.image[0]%>" alt="image" />
                                </td>
                                <td><%= order.productId.productName%></td>
                                <td><%= order.productId.brand%></td>
                                <td><%= order.productPrice%></td>
                                <td><%= order.status%></td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton<%= i %>" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= i %>">
                                        <li><a class="dropdown-item" href="#">Action 1</a></li>
                                        <li><a class="dropdown-item" href="#">Action 2</a></li>
                                        <li><a class="dropdown-item" href="#">Action 3</a></li>
                                        </ul>
                                    </div>
                            
                                </td>
                              </tr>
                              <%
                                })
                                }else{ %>
                                    <h1 class="d-flex justify-content-center">You Have No Orders</h1>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>  


 

<%- include('../adminLayouts/footer.ejs') %>